section, footer, nav
{
    border : 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;    
}

h1
{
    text-align: center;
}

.item_menu
{
    display: inline-block;
    margin-right: 20px;
}

.item_menu > .to_do
{
    color : red;
    text-decoration: none;
}

.item_menu > .doing
{
    color: orange;
}