section, footer, nav
{
    border : 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;    
}

h1
{
    text-align: center;
}

.item_menu
{
    display: inline-block;
    margin-right: 20px;
}

.item_menu > .to_do
{
    color : #515151;
    text-decoration: none;
}

.item_menu > .doing
{
    color: #000d14;
}

footer
{
    text-align: center;
}

.record_actions > li
{
    display: inline-block;
    margin-right: 10px;
}

body aside
{
    float: right;
    border: 1px solid blue;
    border-radius: 5px;
    padding : 1em;    
}

nav aside
{
    float: none;
}

nav aside ul li
{
    display: inline-block;
}