{% extends "::base.html.twig"%}
{% block title %} {{parent()}} | Evenement edit{% endblock %}
{% block titre %} Evenement edit{% endblock %}
{% block body %}
    {{parent()}}
    <section>
    </section>
{% endblock %}