{% extends "::base.html.twig"%}
{% block title %} {{parent()}} | Evenement show{% endblock %}
{% block titre %} Evenement show{% endblock %}
{% block body %}
    {{parent()}}
    <section>
    </section>
{% endblock %}