{% extends "::base.html.twig"%}
{% block title %} {{parent()}} | Choix edit{% endblock %}
{% block titre %} Choix edit{% endblock %}
{% block body %}
    {{parent()}}
    <section>
    </section>
{% endblock %}