{% extends "::base.html.twig"%}
{% block title %} {{parent()}} | Choix show{% endblock %}
{% block titre %} Choix show{% endblock %}
{% block body %}
    {{parent()}}
    <section>
    </section>
{% endblock %}