{% extends "::base.html.twig"%}
{% block title %} {{parent()}} | Choix Editer{% endblock %}
{% block titre %} Choix Editer{% endblock %}
{% block body %}
    {{parent()}}
    <section>
    </section>
{% endblock %}