{% extends "::base.html.twig"%}
{% block title %} {{parent()}} | Choix list{% endblock %}
{% block titre %} Choix list{% endblock %}
{% block body %}
    {{parent()}}
    <section>
    </section>
{% endblock %}