{% extends "::base.html.twig"%}
{% block title %} {{parent()}} | Choix Détails{% endblock %}
{% block titre %} Choix Détails{% endblock %}
{% block body %}
    {{parent()}}
    <section>
      
    </section>
{% endblock %}